streamlitpandasnumpymatplotlibseabornscikit-learnxgboostlightgbmcatboostshap==0.44.1numba==0.58.1llvmlite==0.41.1psycopg2-binarysqlalchemyopenpyxlrequestsstreamlit-authenticatorstreamlit-lottiestreamlit-echartssqlalchemy