streamlit
pandas
cloudpickle
sqlalchemy
mysql-connector-python
psycopg2
openpyxl
streamlit-echarts
streamlit-lottie
matplotlib
seaborn
requests
streamlit-authenticator>=0.2.2
xgboost
lightgbm
shap
ipython
